# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts always LF
*.sh text eol=lf

# Python always LF
*.py text eol=lf

# YAML
*.yaml text eol=lf
*.yml text eol=lf

# Dockerfile
Dockerfile text eol=lf

# Markdown
*.md text eol=lf
